<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MalayMeds</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <!-- ---------------------- NAVIGATION BAR --------------------- -->
    <header class="main-header">
        <a href="{{ url_for('dashboard') }}" class="logo">
            <span class="logo-icon"><ion-icon name="fitness"></ion-icon></span>
            <span class="logo-text">MalayMeds</span>
        </a>
        <div class="group">
            <ul class="navigation">
                <li><a href="{{ url_for('dashboard') }}">Utama</a></li>
                <li><a href="{{ url_for('managefever_page') }}">Urus Demam</a></li>
                <li><a href="{{ url_for('manageherbs_page') }}">Urus Herba</a></li>
                <li><a href="{{ url_for('managemethod_page') }}">Urus Kaedah</a></li>
                <li><a href="{{ url_for('managetreatment_page') }}">Urus Rawatan</a></li>
            </ul>
            <div class="search">
                <span class="icon">
                    <ion-icon name="search-outline" class="searchBtn"></ion-icon>
                    <ion-icon name="close-outline" class="closeBtn"></ion-icon>
                    <a href="{{ url_for('logout') }}"><ion-icon name="person-circle-outline" class="userBtn" style="color: #001f52dd;"></ion-icon></a>
                </span>
            </div>
            <ion-icon name="menu-outline" class="menuToggle"></ion-icon>
        </div>
    </header>

    <!-- --------------- HOME SECTION-MANAGE KNOWLEDGE --------------- -->
    <section class="services" id="services">
        <h1 class="page-heading"> urus & <span>Kemaskini</span> </h1>
        <div class="box-container">
            <div class="box">
                <i class="fas fa-notes-medical"></i>
                <h3>Urus Demam</h3>
                <p>Selia dan kemaskini demam di sini.</p>
                <a href="{{ url_for('managefever_page') }}" class="bttn">Kemaskini<span class="fas fa-chevron-right"></span></a>
            </div>

            <div class="box">
                <i class="fas fa-x-ray"></i>
                <h3>Urus Herba</h3>
                <p>Selia dan kemaskini herba di sini.</p>
                <a href="{{ url_for('manageherbs_page') }}" class="bttn">Kemaskini<span class="fas fa-chevron-right"></span></a>
            </div>
            
            <div class="box">
                <i class="fas fa-search"></i>
                <h3>Urus Kaedah</h3>
                <p>Selia dan kemaskini kaedah rawatan di sini.</p>
                <a href="{{ url_for('managemethod_page') }}" class="bttn">Kemaskini<span class="fas fa-chevron-right"></span></a>
            </div>

            <div class="box">
                <i class="fas fa-laptop-medical"></i>
                <h3>Urus rawatan</h3>
                <p>Selia dan kemaskini rawatan di sini.</p>
                <a href="{{ url_for('managetreatment_page') }}" class="bttn">Kemaskini<span class="fas fa-chevron-right"></span></a>
            </div>
        </div>
    </section>

    <!-- ------------------------- HOME SECTION - FOOTER ---------------------- -->
    <section class="footer">
        <div class="box-container">

            <div class="box">
                <h3>Hubungi Kami</h3>
                <a href="#"><i class="fas fa-phone"></i> +603-7967 7200</a>
                <a href="https://apm.um.edu.my/"><i class="fas fa-school"></i> Akademi Pengajian Melayu</a>
                <a href="https://mail.google.com"><i class="fas fa-envelope"></i> apm@um.edu.my </a>
            </div>

            <div class="box">
                <h3>Latar Belakang</h3>
                <a href="https://apm.um.edu.my/sejarah-apm"><i class="fas fa-chevron-right"></i> Akademi Pengajian Melayu</a>
                <a href="#"><i class="fas fa-chevron-right"></i> MalayMeds</a>
                <a href="https://www.um.edu.my/"><i class="fas fa-chevron-right"></i> Universiti Malaya</a>
            </div>
        </div>

        <div class="credit">Akademi Pengajian Melayu</div>
    </section>

    <!-- --------------- IMPORT IONICONS --------------- -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>

    <!-- --------------- JS SCRIPT --------------- -->
    <script type="text/javascript" src="{{ url_for('static', filename='script/script.js') }}"></script>

</html>